/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import 'color-pallet.scss';

* {
  font-family: 'Roboto', sans-serif;
  color: $primary-text-color;

  body {
    background-color: $background-color;

    button {
      transition-property: all;
      transition-duration: .25s;
      opacity: .75;
      background-color: $primary-action-color;

      border-style: none;
      border-radius: 50%;
      font-size: 21pt;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &.icon-btn {
        background-color: transparent;
      }
    }
  }

}
